.box {
    width: 919px;
    height: 1917px;
  }
  
  .box .group {
    position: fixed;
    width: 931px;
    height: 1917px;
    top: 0;
    left: 0;
  }
  
  .box .overlap-group {
    position: relative;
    width: 923px;
    height: 1917px;
    left: -4px;
  }
  
  .box .mask-group {
    position: absolute;
    width: 914px;
    height: 123px;
    top: 72px;
    left: 0;
  }
  
  .box .shopping-cart {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 79px;
    left: 832px;
  }
  
  .box .heart {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 79px;
    left: 763px;
  }
  
  .box .log-in {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 79px;
    left: 679px;
  }
  
  .box .image-removebg {
    width: 288px;
    height: 223px;
    top: 0;
    left: 28px;
    position: absolute;
    object-fit: cover;
  }
  
  .box .text-wrapper {
    position: absolute;
    width: 76px;
    top: 112px;
    left: 661px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 13px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .box .div {
    position: absolute;
    width: 76px;
    top: 112px;
    left: 749px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 13px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .box .text-wrapper-2 {
    position: absolute;
    width: 76px;
    top: 111px;
    left: 826px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 13px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .box .rectangle {
    position: absolute;
    width: 903px;
    height: 23px;
    top: 47px;
    left: 7px;
    background-color: #6030b9;
  }
  
  .box .search {
    display: flex;
    width: 289px;
    height: 52px;
    align-items: center;
    gap: 8px;
    padding: 12px 16px;
    position: absolute;
    top: 85px;
    left: 336px;
    background-color: #ffffff;
    border-radius: 9999px;
    overflow: hidden;
    border: 1px solid;
    border-color: #d9d9d9;
  }
  
  .box .value {
    position: relative;
    flex: 1;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #1e1e1e;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
  }
  
  .box .x {
    position: relative;
    width: 16px;
    height: 16px;
  }
  
  .box .p {
    position: absolute;
    width: 641px;
    top: 50px;
    left: 122px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
  }
  
  .box .img {
    position: absolute;
    width: 906px;
    height: 1594px;
    top: 192px;
    left: 8px;
  }
  
  .box .image {
    position: absolute;
    width: 903px;
    height: 187px;
    top: 179px;
    left: 4px;
    object-fit: cover;
  }
  
  .box .text-wrapper-3 {
    position: absolute;
    width: 159px;
    top: 393px;
    left: 55px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 16px;
  }
  
  .box .text-wrapper-4 {
    position: absolute;
    width: 159px;
    top: 912px;
    left: 43px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 16px;
  }
  
  .box .product-info-card {
    display: flex;
    flex-direction: column;
    width: 295px;
    height: 277px;
    align-items: flex-start;
    gap: 16px;
    padding: 16px;
    position: absolute;
    top: 445px;
    left: 7px;
    border-radius: 8px;
    border: 1px solid;
    border-color: #303030;
    background: linear-gradient(
      0deg,
      rgba(245, 245, 245, 1) 0%,
      rgba(245, 245, 245, 1) 100%
    );
  }
  
  .box .image-2 {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 247px;
    margin-bottom: -2.00px;
    background: linear-gradient(
      0deg,
      rgba(217, 217, 217, 1) 0%,
      rgba(217, 217, 217, 1) 100%
    );
  }
  
  .box .body {
    margin-bottom: -98.00px;
    display: flex;
    flex-direction: column;
    width: 208px;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .box .div-wrapper {
    display: flex;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .box .text {
    position: relative;
    flex: 1;
    margin-top: -1.00px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #1e1e1e;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22.4px;
  }
  
  .box .text-strong {
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
  }
  
  .box .text-strong-2 {
    color: #1e1e1e;
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22.4px;
    white-space: nowrap;
  }
  
  .box .text-small {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #303030;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 19.6px;
    white-space: nowrap;
  }
  
  .box .product-info-card-2 {
    width: 295px;
    top: 975px;
    left: 618px;
    display: flex;
    flex-direction: column;
    height: 277px;
    align-items: flex-start;
    gap: 16px;
    padding: 16px;
    position: absolute;
    border-radius: 8px;
    border: 1px solid;
    border-color: #303030;
    background: linear-gradient(
      0deg,
      rgba(245, 245, 245, 1) 0%,
      rgba(245, 245, 245, 1) 100%
    );
  }
  
  .box .product-info-card-3 {
    width: 295px;
    top: 975px;
    left: 311px;
    display: flex;
    flex-direction: column;
    height: 277px;
    align-items: flex-start;
    gap: 16px;
    padding: 16px;
    position: absolute;
    border-radius: 8px;
    border: 1px solid;
    border-color: #303030;
    background: linear-gradient(
      0deg,
      rgba(245, 245, 245, 1) 0%,
      rgba(245, 245, 245, 1) 100%
    );
  }
  
  .box .product-info-card-4 {
    width: 295px;
    top: 975px;
    left: 10px;
    display: flex;
    flex-direction: column;
    height: 277px;
    align-items: flex-start;
    gap: 16px;
    padding: 16px;
    position: absolute;
    border-radius: 8px;
    border: 1px solid;
    border-color: #303030;
    background: linear-gradient(
      0deg,
      rgba(245, 245, 245, 1) 0%,
      rgba(245, 245, 245, 1) 100%
    );
  }
  
  .box .product-info-card-5 {
    width: 263px;
    top: 445px;
    left: 608px;
    display: flex;
    flex-direction: column;
    height: 277px;
    align-items: flex-start;
    gap: 16px;
    padding: 16px;
    position: absolute;
    border-radius: 8px;
    border: 1px solid;
    border-color: #303030;
    background: linear-gradient(
      0deg,
      rgba(245, 245, 245, 1) 0%,
      rgba(245, 245, 245, 1) 100%
    );
  }
  
  .box .body-2 {
    margin-bottom: -120.00px;
    display: flex;
    flex-direction: column;
    width: 208px;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .box .product-info-card-6 {
    width: 240px;
    top: 445px;
    left: 332px;
    display: flex;
    flex-direction: column;
    height: 277px;
    align-items: flex-start;
    gap: 16px;
    padding: 16px;
    position: absolute;
    border-radius: 8px;
    border: 1px solid;
    border-color: #303030;
    background: linear-gradient(
      0deg,
      rgba(245, 245, 245, 1) 0%,
      rgba(245, 245, 245, 1) 100%
    );
  }
  
  .box .rectangle-2 {
    position: absolute;
    width: 919px;
    height: 61px;
    top: 818px;
    left: 4px;
    border-radius: 54px;
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.2) 40%
      ), linear-gradient(0deg, rgba(97, 48, 185, 1) 0%, rgba(97, 48, 185, 1) 100%);
  }
  
  .box .rectangle-3 {
    position: absolute;
    width: 909px;
    height: 61px;
    top: 818px;
    left: 4px;
    border-radius: 54px;
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.2) 40%
      ), linear-gradient(0deg, rgba(97, 48, 185, 1) 0%, rgba(97, 48, 185, 1) 100%);
  }
  
  .box .footer {
    display: flex;
    flex-wrap: wrap;
    width: 903px;
    align-items: flex-start;
    gap: 16px 16px;
    padding: 32px 32px 160px;
    position: absolute;
    top: 1449px;
    left: 14px;
    background-color: transparent;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-color: #d9d9d9;
    background: linear-gradient(
        0deg,
        rgba(97, 48, 185, 1) 0%,
        rgba(97, 48, 185, 1) 100%
      ),
      linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.17) 70%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 100%
      );
  }
  
  .box .title {
    width: 262px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
  
  .box .button-list {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .box .x-logo {
    position: relative;
    width: 23.98px;
    height: 24px;
  }
  
  .box .img-2 {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .box .text-link-list {
    display: flex;
    flex-direction: column;
    width: 262px;
    align-items: flex-start;
    gap: 12px;
    position: relative;
  }
  
  .box .text-strong-wrapper {
    gap: 10px;
    padding: 0px 0px 16px;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
  
  .box .text-strong-3 {
    color: #ffffff;
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22.4px;
    white-space: nowrap;
  }
  
  .box .text-link-list-item {
    position: relative;
    width: 89px;
    height: 22px;
  }
  
  .box .list-item {
    position: absolute;
    height: 22px;
    top: -1px;
    left: 0;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22.4px;
    white-space: nowrap;
  }
  
  .box .image-removebg-2 {
    width: 266px;
    height: 207px;
    top: 1476px;
    left: 4px;
    position: absolute;
    object-fit: cover;
  }